<link rel="stylesheet" href="/css/header.css">


<header>
    <nav>
        <div class="nav-links">
            <ul class="h-links">
                <% if(locals.user){ %>
                    <li style="box-shadow: none;background-color: #fff;font-weight: 500;">
                        <a href="/users/profile">
                            Hi,<%= user.name %>
                        </a>
                    </li>
                    <li class="home-h">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/users/sign-out">Sign-out</a>
                    </li>
                    <% } else { %>
                        <li class="signin-h"><a href="/users/sign-in">sign-in</a></li>
                        <li class="signup-h"><a href="/users/sign-up">sign-up</a></li>
                        <% } %>
            </ul>
        </div>

    </nav>

</header>