<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sign_in.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a18fa9a70e.js" crossorigin="anonymous"></script>

</head>

<body>

    <div class="main-c container">
        <div class="main">

            <div class="credentials">
                <h1>Sign Up</h1>
                <form action="/users/create" method="post">
                    <input type="text" name="name" placeholder="Enter Name" required>
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <div style="display: flex;align-items: baseline;justify-content: space-between;">
                        <input type="submit" id="sup-btn" class="btn" value="Sign Up">
                        <a href="/users/sign-in">Sign-in</a>
                    </div>
                </form>


            </div>
            <p class="gauth">
                <a href="/users/auth/google">
                    <span><i class="fa fa-google-plus-official" aria-hidden="true"></i>
                    </span>Google Sign-in/Sign-up</a>
            </p>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            console.log("signup");
            $('.signup-h').addClass("active")
        })
    </script>
</body>

</html>